[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
ExecStart=/bin/runc run flannel
ExecStop=/bin/runc kill flannel
Restart=on-failure
WorkingDirectory=$DESTDIR

[Install]
WantedBy=multi-user.target
RequiredBy=docker.service
